html {
	background-color: rgba(0, 0, 0, 0.9);
	font-family: sans-serif;
}

a:hover {
	transition: color 0.3s ease;
	color: tomato;
}

.footer-container {
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	/* background-image: url('https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80'); */
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* MOST SUTTLE STAR BACKGROUND SO FAR */
	background-image: url('https://rprtphoto.files.wordpress.com/2011/06/orion.jpg');
	width: 100%;
	background-size: cover;
}

.footer-back-to-top {
	color: white;
	margin: 0px;
	font-size: 40px;
	text-decoration: underline;
}

.footer {
	color: white;
	background: rgba(0, 0, 0, 0.6);
	width: 41%;
	margin-left: 30%;
	padding-bottom: 10px;
	padding-top: 10px;
}

/* MOBILE VERSION */
@media only screen and (max-device-width: 450px) {
	.footer-container {
		font-size: 30px;
		line-height: 50%;
		padding-top: 20px;
	}

	.home-body-content {
		font-size: 30px;
	}
}
