html {
	background-color: rgba(0, 0, 0, 0.9);
	font-family: sans-serif;
}

a:hover {
	transition: color 0.3s ease;
	color: tomato;
}

.navbar {
	background-image: url(../images/skyline-one.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;

	/*  PREVIOUSLY UL TAG */
	padding-left: 0px;
	display: flex;
	justify-content: space-between;
}

.nav-links {
	padding-top: 15%; /* PASS */
	font-size: 50px;
	mix-blend-mode: difference;
	color: white;
	text-decoration: none;
}

@media only screen and (max-width: 900px) {
	.nav-links {
		font-size: 30px;
		/* padding-top: 20px; */
	}
}

@media only screen and (max-width: 550px) {
	.nav-links {
		font-size: 25px;
		/* padding-top: 20px; */
	}
}

@media only screen and (max-width: 450px) {
	.nav-links {
		font-size: 20px;
	}
}
