.navbar {
	background-image: url(../images/skyline-one.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px;

	padding-left: 0px;
	display: flex;
	justify-content: space-between;
}

.nav-links {
	padding-top: 15%;
	padding-bottom: 2%;
	font-size: 50px;
	mix-blend-mode: difference;
	color: white;
	text-decoration: none;
}

@media only screen and (max-width: 900px) {
	.nav-links {
		font-size: 30px;
	}
}

@media only screen and (max-width: 550px) {
	.nav-links {
		font-size: 25px;
	}
}

@media only screen and (max-width: 450px) {
	.nav-links {
		font-size: 20px;
	}
}
