.projects-title { /* THINKING ABOUT MAKING THIS A STYLING COMPONENT WITH about-me-title*/
  font-size: 80px;
  mix-blend-mode: difference;
  color: white;
  /* text-align: center; */

  /* TESTING REVERSE COLOR TEXT IN HEADER */
  /* mix-blend-mode: difference;
  color: white; */
}

.projects-content {
  text-align: center;
  width: 70%;
  margin: 10px auto;
  padding: 32px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
}

.checkout-cart-link {
  color: white;
  text-decoration: underline;
  font-size: 20px;
}


.projects-body {
  margin-left: 0;
  font-size: 35px;
  text-align: center;
  line-height: 150%;


  /* TESTING NEW CONTENT IN NEXT 4 LINES */

  /* word-spacing: 15px;
  line-height: 450%; */

  /* mix-blend-mode: difference; */
  /* Text Contrast */
  /* mix-blend-mode: difference; */
  color: white;
}

.about-me-body {
  margin-left: 0;
  font-size: 35px;
  text-align: center;
  /* line-height: 180%; */

}

.shopping-cart-img {
  align-self: left;
  width: 20%;
  margin-right: 6%;
  opacity: 0.5;
}

.dev-chat-image {
  opacity: 0.7;
  width: 30%;
}

.my-music-image {
  width: 70%;
}

.my-music-title {
  font-size: 80px;
  mix-blend-mode: difference;
  color: white;
  margin-top: 20px;
}

.my-music-container {
  background-image: url("https://cdn.hipwallpaper.com/i/18/29/0cO4Db.jpg");
  width: 100%;
  line-height: 450%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-meme-container { 
  /* The image used */
  /* background-image: url("https://www.telegraph.co.uk/content/dam/news/2016/08/23/106598324PandawaveNEWS_trans_NvBQzQNjv4Bqeo_i_u9APj8RuoebjoAHt0k9u7HhRJvuo-ZLenGRumA.jpg?imwidth=450"); */
  /* background-image: url('../media//custom-meme-logo.jpg'); */
  background-image: url("https://media.giphy.com/media/9J5iAntSvFsVDXqjPk/giphy.gif");
  width: 100%;

  /* Set a specific height */
  /* height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dev-chat-container {
  /* The image used */
  background-image: url("https://ak2.picdn.net/shutterstock/videos/10713152/thumb/1.jpg");
  width: 100%;

  /* Set a specific height */
  /* height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shopping-cart-container {
  /* The image used */
  background-image: url("https://clipground.com/images/business-people-clipart-18.jpg");
  /* filter: invert(100%); */
  background-color: rgba(0, 0, 0, 0.7);

  width: 100%;

  /* Set a specific height */
  /* height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bitcoin-container {
  background-image: url("https://bitcoinist.com/wp-content/uploads/2018/04/pex-bitcoin-dollars.jpg");
  /* filter: invert(100%); */
  background-color: rgba(0, 0, 0, 0.7);

  width: 100%;
  line-height: 450%;


  /* Set a specific height */
  /* height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* IPHONE 7 PLUS WIDTH IN INCHES */
@media all and (max-device-width: 450px) {
  .projects-title {
    font-size: 80px;
    padding-bottom: 0px;
    padding-top: 30px;
    margin: 0px;
    margin-bottom: 45px;
    font-weight: 700;
  }

  .projects-body {
    font-size: 45px;
    line-height: 180%;
    width: 100%;
    margin: 0px;
  }

  .projects-content {
    margin-top: 0px;
    padding: 20px;
    width: 90%;
  }

  .shopping-cart-container {
    margin-top: 10px;
    background-image: url("https://clipground.com/images/business-people-clipart-18.jpg");
    background-attachment: inherit;

  }

  .dev-chat-image {
    display: none;
  }

  .dev-chat-container {
    background-color: black;
    background-image: none;
  }

  .my-meme-container {
    background-color: black;
    background-attachment: inherit;
    /* background-size: 200%; */
  }

  .my-music-container {
  background-image: url("https://cdn.hipwallpaper.com/i/18/29/0cO4Db.jpg");
    /* NEXT LINE FORCES IMAGE TO SHOW */
    background-attachment: inherit; 
    /* background-size: 1000px 600px;  */
  }

  .my-music-image {
    /* NICE ALTERNATIV TO DISPLAY NONE */
    width: 700px;
  }
  .bitcoin-container {
    background-image: url('https://s2.best-wallpaper.net/wallpaper/iphone/1811/Bitcoin-virtual-digital-currency_iphone_320x480.jpg');
    /* NEXT LINE FORCES IMAGE TO SHOW */
    background-attachment: inherit;
    background-size: 1000px 1050px;
  }
}
