html {
	background-color: black;
	font-family: sans-serif;
}

a:hover {
	transition: color 0.3s ease;
	color: tomato;
}

.parallax-background {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.titles {
	font-size: 60px;
	mix-blend-mode: difference;
	color: white;
}

.body-content {
	font-size: 30px;
	text-align: center;
	line-height: 150%;
	color: white;
}
